<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="config/DB.properties">
	<!-- 
		<property name="username" value="dev_user" />
		<property name="password" value="F2Fa3!33TYyg" />
	 -->
	</properties>
	
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${mysql_driver}" />
				<property name="url" value="${mysql_url}" />
				<property name="username" value="${mysql_username}" />
				<property name="password" value="${mysql_passwd}" />
			</dataSource>
		</environment>
		
	</environments>
	
	

	<mappers>
		<mapper resource="users/service/UsersService.xml" />
		<mapper resource="videos/service/VideosService.xml" />
	</mappers>
</configuration>